@media screen and (max-width: 600px){
  .hashtags-container {
    border: 2px solid gray;
    border-radius: 8px;
    text-overflow: "hidden";
    font-size: .8rem;
    padding: 1em;

    textarea{
      font-size: .9rem !important;
      resize: none;
  }
  }
}
@media screen and (min-width: 600px){
  .hashtags-container {
    border: 2px solid gray;
    border-radius: 8px;
    text-overflow: "hidden";
    font-size: 1rem;
    padding: 1em;

    textarea{
      font-size: 1.1rem !important;
      resize: none;
    }
  }
}

@media screen and (min-width: 768px){
  .hashtags-container {
    border: 2px solid gray;
    border-radius: 8px;
    text-overflow: "hidden";
    font-size: .9rem;
    padding: 1em;

    textarea{
      font-size: 1.1rem !important;
      resize: none;
    }
  }
}

@media screen and (min-width: 992px){
  .hashtags-container {
    border: 2px solid gray;
    border-radius: 8px;
    overflow: hidden;
    font-size: 1rem;
    padding: 1em;
    
    textarea{
      font-size: 1.2rem !important;
      resize: none;
    }
  }
}
  .description{
    margin-top: .1em;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hashtags-container:hover {
    border: 2px solid rgb(71, 71, 71);
  }
  .form{
    margin: 2vh 0vh 4vh 0vh;
  }
  
  .hashtags-stat-container {
    border-top: 1px solid gray;
    padding-top: .5em;
    display: flex;
    justify-content: space-between;
  }
  
  .badge:hover {
      cursor: pointer;
  }

  .disabled:hover {
    cursor: not-allowed;
  }
  div.hashtags-stat-container > i.liked{
    color: rgb(172, 1, 1);
  }

  .btn-sm{
    padding: .1rem .2rem !important;
  }

  i{
    max-width: 80%;
    span{
      color: rgb(6, 16, 61);
    }
  }
