.hashtags-container {
    height: 200px;
    border: 2px solid gray;
    border-radius: 8px;
    text-overflow: "hidden";
  }
  .hashtags-container:hover {
    border: 2px solid blue;
  }
  .hashtags-container > p {
    height: 70%;
  }
  .hashtags-stat-container {
    border-top: 1px solid gray;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
  }
  .badge:hover {
      cursor: pointer;
  }